MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=complaintiq
HOST=0.0.0.0
PORT=8000
DEBUG=true
ML_ARTIFACTS_DIR=./ml_artifacts
STATIC_FIGURES_DIR=./static/figures
CORS_ORIGINS=http://localhost:3000
BERT_MODEL_PATH=./ml_artifacts/bert_sentiment
SENTENCE_TRANSFORMER_MODEL=all-MiniLM-L6-v2
T5_MODEL_NAME=t5-base
APP_NAME=ComplaintIQ API
APP_VERSION=1.0.0