fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-dotenv
torch
transformers
sentence-transformers
scikit-learn
umap-learn
joblib
spacy
nltk
vaderSentiment
numpy
pandas
python-multipart
httpx